<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://testfunc5656fa2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2fd64258-83d0-456d-8559-4461579559d5/resourceGroups/testfunc5656rg/providers/Microsoft.Web/sites/testfunc5656fa2</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://testfunc5656fa2.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>